.about-us {
  color: $font-color;
  text-align: center;
  padding-bottom: 3rem;

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    width: 100%;
    font-size: 2.5rem;
    font-family: 'Roboto-Light';
    font-weight: normal;
    margin: 3rem 0;
  }
}

.person {
  width: 25%;
  padding: 0.6rem;
  box-sizing: border-box;

  &__photo {
    width: 100%;
  }

  &__name {
    font-size: 1.5rem;
    margin: 1rem 0 0;
    font-family: 'Roboto-Normal';
    line-height: 1.2;
    font-weight: normal;
  }

  &__position {
    margin: 0 0 .7rem;
    font-family: 'Roboto-Normal';
  }

  &__description {
    color: $secondary-font-color;
    font-family: 'Roboto-Normal';
    font-size: .95rem;
  }
}

@media (max-width: $screen-medium) {
  .about-us {
    margin: 0;
    &__title {
      font-size: 2rem;
      margin: 1.5rem 0;
    }
  }
  .person {
    width: 50%;
  }
}

@media (max-width: $screen-small) {
  .person {
    width: 100%;
  }
}