.footer {
  background-color: $third-dark;
  padding: 3.5rem;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__contact-wrapper {
    display: flex;
  }

  &__contact-element {
    color: $secondary-font-color;
    font-family: 'Roboto-Normal';
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }

  &__skype--thin {
    font-family: 'Roboto-Light';
  }
}

@media (max-width: $screen-large) {
  .footer {
    padding: 2rem;

    &__contact-element {
      text-align: center;
    }
  }
}

@media (max-width: $screen-medium) {
  .footer {
    padding: 1.5rem 0;

    &__container {
      flex-direction: column;
    }

    &__contact-wrapper {
      align-items: center;
      flex-direction: column;
      margin-top: 1rem;
    }

    &__contact-element {
      margin: .3rem 0;
    }
  }
}
