.looked-over {
  background-image: url('../images/baner_4.jpg');
  background-position: 60% bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
  }

  &__title {
    color: $font-color;
    flex-basis: 100%;
    font-family: 'Roboto-Bold';
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
  }

  &__subtitle {
    color: $font-color;
    font-family: 'Roboto-Light';
    font-size: 3.5rem;
    margin: 0;
  }
}

@media (max-width: $screen-large) {
  .looked-over {
    &__container {
      height: 25rem;
    }

    &__title {
      font-size: 3.5rem;
    }

    &__subtitle {
      font-size: 2rem;
    }
  }
}

@media (max-width: $screen-small) {
  .looked-over {
    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.2rem;
    }
  }
}
