.header {
  align-items: center;
  border-bottom: 1px solid $header-border-color;
  display: flex;
  justify-content: space-around;
  min-height: 8em;

  &__brand {
    margin: 0;
    text-align: center;
  }
}

.logo {
  display: inline-block;

  &__text {
    background: url('../images/logotype.png') no-repeat;
    background-position: left center;
    display: inline-block;
    font-size: .8em;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
    padding-left: 1.8em;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 0;

  &__item {
    margin-left: 2.6em;
  }

  &__link {
    display: inline-block;
    font-size: 1.1em;
    width: 100%;

    &:hover,
    &:focus {
      color: $nav-item-focus-color;
    }
  }

  &__form {
    margin-left: .8em;
  }

  &__input {
    display: none;
    width: 11em;
  }

  &__input--visible {
    display: inline-block;
  }
}

.button-toggle {
  background-color: transparent;
  border: 1px solid ;
  border-radius: 5px;
  color: $nav-button-toggle-color;
  display: none;
  float: right;
  font-size: .7em;
  margin: .3em .4em 0 0;
}

.button-search {
  background-color: transparent;
  border: none;
  color: $nav-button-search-color;
  font-size: 1.1em;
}

@media (max-width: 991px) {
  .nav {
    &__item {
      margin-left: 1.6em;
    }

    &__form--hidden {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .header--thin {
    min-height: 3em;
  }

  .header--stacked {
    flex-wrap: wrap;
  }

  .header__brand--wide {
    flex-basis: 100%;
    padding-left: .5em;
    text-align: left;
  }

  .header__navbar--wide {
    flex-basis: 100%;
  }

  .button-toggle--visible {
    display: inline-block;
  }

  .logo__text {
    margin: 0;
  }

  .nav--vertical {
    flex-wrap: wrap;
    margin: 0;

    &__item {
      flex-basis: 100%;
      margin: 0;
    }
  }

  .nav__link {
    padding: .45em 0;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $nav-vertical-item-focus-color;
    }
  }

  .nav--closed {
    display: none;
  }

  .nav--open {
    display: flex;
  }
}
