.header {
  border-bottom: 1px solid $header-border-color;
  
  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 8rem; 
  }

  &__brand {
    margin: 0;
  }
}

.logo {
  &__text {
    background: url('../images/logotype.png') no-repeat;
    background-position: left center;
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: 1.1px;
    // margin-bottom: 10px;
    padding-left: 2.8rem; 
  }
}

.nav {
  padding: 0;
  margin: 0;

  &__item {
    display: inline-block;
  }

  &__link {
    margin-left: 2rem;
    display: inline-block;
    font-size: 1.1rem;
    width: 100%;

    &:hover,
    &:focus {
      color: $nav-item-focus-color;
    }
  }

  &__form {
    margin-left: 2rem;
    display: inline-block;
  }

  &__input {
    opacity: 0;
    transition: width 0.5s, opacity 1.5s;
    width: 0px;
  }

  &__input--visible {
    width: 10.6rem;
    opacity: 1;
  }
}


.button-toggle {
  background-color: transparent;
  border: none;
  color: $nav-button-toggle-color;
  display: none;
  float: right;
  padding: 0 .8rem;
  margin-top: 0.15rem;
}

.button-search {
  background-color: transparent;
  border: none;
  color: $nav-button-search-color;
}

@media (max-width: 61.94rem /*991px*/) {
  .nav {
    &__link {
      margin-left: 1.3rem;
    }

    &__form--hidden {
      display: none;
    }
  }
}

@media (max-width: 47.94rem /*767px*/) {
  .header__container--low {
    min-height: 3rem;
    padding: 0;
  }

  .header__container--stacked {
    flex-wrap: wrap;
  }

  .header__brand--wide {
    flex-basis: 100%;
    padding-left: .5rem;
  }

  .header__navbar--wide {
    flex-basis: 100%;
  }

  .button-toggle--visible {
    display: inline-block;
  }

  .nav {
    &__item {
      display: block;
    }

    &__link {
    padding: .45rem 0;
    text-align: center;
    margin: 0;

    &:hover,
    &:focus {
      background-color: $nav-vertical-item-focus-color;
    }
  }
}

  .nav--closed {
    height: 0px;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .nav--open {
    height: 14rem;
  }
}
