.services {
  color: $font-color;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  &__header {
    color: $font-color;
    flex-basis: 100%;
    font-family: 'Roboto-Light';
    font-size: 2.5rem;
    font-weight: normal;
    margin: 3rem 0;
    text-align: center;
  }
}

.service {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  padding: 0 1rem;

  &__icon {
    background-color: $secondary-dark;
    background-origin: content-box;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 2.3rem;
    padding: 2.3rem;
    width: 2.3rem;

    &--web-design {
      background-image: url('../images/icon-web-design.png');
    }

    &--ui-design {
      background-image: url('../images/icon-ui-design.png');
    }

    &--prototype {
      background-image: url('../images/icon-prototype.png');
    }

    &--photography {
      background-image: url('../images/icon-photography.png');
    }
  }

  &__name {
    font-size: 1.6rem;
    font-weight: normal;
    margin: 1.6rem 0 0;
  }

  &__description {
    font-size: .9rem;
    text-align: center;
  }
}

@media (max-width: $screen-medium) {
  .services__container {
    margin: 0;
  }

  .service--stacked {
    flex-basis: 50%;
  }
}

@media (max-width: $screen-small) {
  .service--stacked {
    flex-basis: 100%;
  }

  .service__icon {
    padding: 1.3rem;
  }

  .services__header {
    margin: 1.5rem 0;
  }
}
