/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Roboto-Normal';
  src: url("../font/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../font/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../font/Roboto-Thin.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../font/Roboto-Light.ttf"); }

.hide {
  opacity: 0;
  transform: translateY(300px); }

html {
  font-size: 16px; }

body {
  background-color: #292a2e;
  color: #ffffff;
  font-family: 'Roboto-Light'; }

a {
  color: #ffffff;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

strong {
  font-family: 'Roboto-Bold';
  font-weight: normal; }

blockquote {
  margin: 0; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
  padding-left: 15px;
  padding-right: 15px; }

.input, .form__control {
  background-color: #222327;
  border: 1px solid #2e2f35;
  color: #777777; }

.button {
  background-color: #323338;
  border: none;
  color: #ffffff;
  padding: 0.5rem;
  width: 7.5rem; }
  .button:hover {
    background-color: #1a1a1d; }
  .button--active, .button--active:hover {
    background-color: #1bbc9d;
    font-family: "Roboto-Bold"; }
  .button--rounded {
    border-bottom: 4px solid;
    border-radius: 5px;
    font-size: 1.3rem;
    padding: 0.6rem;
    width: 9.2rem; }
  .button--green {
    background-color: #b0ce3c;
    border-bottom-color: #809726; }
    .button--green:hover, .button--green:focus {
      background-color: #91ac2b; }
  .button--cyan {
    background-color: #1bbc9d;
    border-bottom-color: #117965; }
    .button--cyan:hover, .button--cyan:focus {
      background-color: #158f78; }
  .button--white {
    background-color: #e4e4e4;
    border-bottom-color: #bebebe;
    color: #292a2e; }
    .button--white:hover, .button--white:focus {
      background-color: #cbcbcb; }
  .button--turquoise {
    background-color: #74b0a4;
    border-bottom-color: #4e897e; }
    .button--turquoise:hover, .button--turquoise:focus {
      background-color: #579a8c; }
  .button--olive {
    background-color: #b6c280;
    border-bottom-color: #96a650; }
    .button--olive:hover, .button--olive:focus {
      background-color: #a2b15e; }
  .button--graphite {
    background-color: #424242;
    border-bottom-color: #1c1c1c; }
    .button--graphite:hover, .button--graphite:focus {
      background-color: #292929; }

.header {
  background-color: #222327;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
  .header__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 8rem;
    transition: min-height 0.8s; }
  .header--low {
    min-height: 4rem; }
  .header__brand {
    margin: 0; }

.logo__text {
  background: url("../images/logotype.png") no-repeat;
  background-position: left center;
  background-size: 2.5rem 1.7rem;
  display: inline-block;
  font-family: 'Roboto-Normal';
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 1.1px;
  padding-left: 2.8rem; }

.nav {
  margin: 0;
  padding: 0; }
  .nav__item {
    display: inline-block; }
  .nav__link {
    display: inline-block;
    font-family: 'Roboto-Normal';
    font-size: 1.1rem;
    margin-left: 1.8rem;
    padding: 0.9rem 0;
    transition: color 0.5s; }
    .nav__link:hover {
      color: #b0ce3c; }
    .nav__link--active {
      color: #b0ce3c; }
  .nav__form {
    display: inline-block;
    margin-left: 1.5rem; }
  .nav__input {
    font-family: 'Roboto-Normal';
    font-size: 0.9rem;
    opacity: 0;
    transition: width 0.5s, opacity 1.5s;
    width: 0; }
  .nav__input--visible {
    opacity: 1;
    width: 10.6rem; }

.button-toggle {
  background-color: transparent;
  border: none;
  color: #ffffff;
  display: none;
  float: right;
  margin-top: 0.15rem;
  padding: 0 .8rem; }

.button-search {
  background-color: transparent;
  border: none;
  color: #ffffff; }

@media (max-width: 61.94rem) {
  .nav__link {
    margin-left: 1.3rem; }
  .nav__form--hidden {
    display: none; } }

@media (max-width: 47.94rem) {
  .header__container {
    min-height: 3rem;
    padding: 0; }
  .header--stacked {
    flex-wrap: wrap; }
  .header__brand--wide {
    flex-basis: 100%;
    padding-left: .5rem; }
  .header__navbar--wide {
    flex-basis: 100%; }
  .button-toggle--visible {
    display: inline-block; }
  .nav__item {
    display: block; }
  .nav__link {
    margin: 0;
    padding: .45rem 0;
    text-align: center;
    width: 100%; }
    .nav__link:hover, .nav__link:focus {
      background-color: #222327; }
  .nav--closed {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease; }
  .nav--open {
    height: 14rem; } }

.slider {
  height: 40rem;
  margin: 0;
  padding-top: 4rem;
  position: relative; }
  .slider__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap; }
  .slider__slide {
    display: flex;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 1s;
    width: 100%;
    z-index: 1; }
    .slider__slide:nth-of-type(1) {
      background-image: url("../images/slide_1.jpg");
      background-position: 70% bottom;
      background-repeat: no-repeat;
      background-size: cover; }
    .slider__slide:nth-of-type(2) {
      background-image: url("../images/slide_2.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .slider__slide:nth-of-type(3) {
      background-image: url("../images/slide_3.jpg");
      background-repeat: no-repeat;
      background-size: cover; }
    .slider__slide--active {
      opacity: 1;
      z-index: 2; }
  .slider__button-left, .slider__button-right {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 50%;
    height: 2rem;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 2rem;
    z-index: 3; }
    .slider__button-left:hover, .slider__button-right:hover {
      background-color: #424242; }
  .slider__button-left {
    background-image: url("../images/arrow-left.png");
    left: 1rem; }
  .slider__button-right {
    background-image: url("../images/arrow-right.png");
    right: 1rem; }
  .slider__caption {
    font-size: 4rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    width: 100%; }
  .slider__subcaption {
    font-family: 'Roboto-Bold';
    font-size: 2.9rem;
    line-height: 1;
    margin: 0;
    width: 100%; }

@media (max-width: 74.94rem) {
  .slider {
    height: 50vh; }
    .slider__container {
      padding: 0 5rem; } }

@media (max-width: 61.94rem) {
  .slider__caption {
    font-size: 3rem; }
  .slider__subcaption {
    font-size: 2rem; } }

@media (max-width: 47.94rem) {
  .slider {
    height: 50vh;
    padding-top: 3rem; }
    .slider__container {
      padding: 0 4rem; }
    .slider__caption {
      font-size: 2.3rem; }
    .slider__subcaption {
      font-size: 1.6rem; }
    .slider__button-left {
      left: .5rem; }
    .slider__button-right {
      right: .5rem; } }

.services {
  margin-top: 4rem;
  padding-bottom: 3rem; }
  .services__container {
    display: flex;
    flex-wrap: wrap; }
  .services__header {
    flex-basis: 100%;
    font-family: 'Roboto-Light';
    font-size: 2.5rem;
    font-weight: normal;
    margin: 3rem 0;
    text-align: center; }

.service {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  padding: 0 1rem;
  transition: opacity 1s, transform 1s; }
  .service.hidden {
    opacity: 0;
    transform: translate(0, 200px); }
  .service__icon {
    background-color: #323338;
    background-origin: content-box;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 2.3rem;
    padding: 2.3rem;
    width: 2.3rem; }
    .service__icon--web-design {
      background-image: url("../images/icon-web-design.png"); }
    .service__icon--ui-design {
      background-image: url("../images/icon-ui-design.png"); }
    .service__icon--prototype {
      background-image: url("../images/icon-prototype.png"); }
    .service__icon--photography {
      background-image: url("../images/icon-photography.png"); }
  .service__name {
    font-size: 1.6rem;
    font-weight: normal;
    margin: 1.6rem 0 0; }
  .service__description {
    color: #777777;
    font-family: 'Roboto-Normal';
    font-size: .9rem;
    text-align: center; }

@media (max-width: 47.94rem) {
  .services {
    margin-top: 3rem; }
  .services__container {
    margin: 0; }
  .services__header {
    font-size: 2rem; }
  .service--stacked {
    flex-basis: 50%; } }

@media (max-width: 35.94rem) {
  .services {
    padding-bottom: 1.5rem; }
  .service--stacked {
    flex-basis: 100%; }
  .service__icon {
    padding: 1.3rem; }
  .services__header {
    margin: 1.5rem 0; } }

.clean-theme {
  background-image: url("../images/baner_1.jpg");
  background-position: 35% bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .clean-theme__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 30rem; }
  .clean-theme__header {
    color: #ffffff;
    flex-basis: 100%;
    font-size: 4.3rem;
    font-weight: normal;
    margin: 0 0 1.5rem; }
  .clean-theme .button--green {
    margin-right: 1rem; }

@media (max-width: 61.94rem) {
  .clean-theme__container {
    height: 25rem; }
  .clean-theme__header {
    font-size: 3rem; } }

@media (max-width: 47.94rem) {
  .clean-theme__container {
    justify-content: center; }
  .clean-theme__header {
    font-size: 2rem;
    text-align: center; }
  .clean-theme .button--small {
    padding: 0.3rem;
    width: 6.2rem; } }

.portfolio {
  padding: 3.8rem 0 2.6rem; }
  .portfolio__title {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 0 .6rem;
    text-align: center; }
  .portfolio__buttons {
    margin-bottom: 2.7rem;
    text-align: center; }
  .portfolio__photos-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0; }
  .portfolio__image-container {
    box-sizing: border-box;
    padding: 0.5rem;
    position: relative;
    width: 25%; }
  .portfolio__photo {
    vertical-align: top;
    width: 100%; }
  .portfolio__photo-after {
    align-content: center;
    background-color: #222327;
    display: flex;
    flex-wrap: wrap;
    height: 74%;
    justify-content: center;
    left: 13%;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 13%;
    transition: opacity 0.5s;
    width: 74%;
    z-index: 1; }
    .portfolio__photo-after:hover {
      opacity: 0.8; }
  .portfolio .photo-after__title {
    font-family: 'Roboto-Bold';
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.4rem;
    width: 100%; }
  .portfolio .photo-after__category {
    margin: 2% 0 15%;
    width: 100%; }
  .portfolio .photo-after__stats {
    font-size: 1.4rem; }
  .portfolio__load-more {
    margin: 2.6rem 0 0;
    text-align: center; }

.load-more__text {
  display: block;
  font-size: 1.2rem; }

.load-more__button {
  background-color: transparent;
  border: none; }

.load-more__icon-down {
  background-image: url("../images/icon-down.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  height: 2rem;
  width: 3rem; }

@media (max-width: 47.94rem) {
  .portfolio {
    padding: 1.5rem 0 0; }
    .portfolio__title {
      font-size: 2rem; }
    .portfolio__buttons {
      margin-bottom: 1rem; }
    .portfolio .button--small {
      display: block;
      margin: 0 auto;
      width: 40%; }
    .portfolio__image-container {
      width: 50%; }
    .portfolio__load-more {
      margin-top: 1rem; } }

@media (max-width: 35.94rem) {
  .portfolio__image-container {
    width: 100%; } }

.pricing-baner {
  background-image: url("../images/baner_2.jpg");
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .pricing-baner__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 30rem; }
  .pricing-baner__title {
    flex-basis: 100%;
    font-size: 4.3rem;
    font-weight: normal;
    line-height: 1;
    margin: 0; }
  .pricing-baner__subtitle {
    font-family: 'Roboto-Bold';
    font-size: 2.8rem;
    margin: 0; }

@media (max-width: 61.94rem) {
  .pricing-baner__container {
    height: 25rem; }
  .pricing-baner__title {
    font-size: 3.5rem; }
  .pricing-baner__subtitle {
    font-size: 2rem; } }

@media (max-width: 35.94rem) {
  .pricing-baner__title {
    font-size: 2rem; }
  .pricing-baner__subtitle {
    font-size: 1.2rem; } }

.our-price {
  padding: 2.5rem 0 4rem; }
  .our-price__title {
    color: #ffffff;
    font-family: 'Roboto-Light';
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0 0 2.5rem;
    text-align: center; }
  .our-price__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem; }

.price-box {
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 1rem;
  text-align: center;
  transition: opacity 1s, transform 1s; }
  .price-box.hidden {
    opacity: 0;
    transform: translate(0, 200px); }
  .price-box--dark {
    background-color: #323338;
    color: #e4e4e4; }
  .price-box--light {
    background-color: #ffffff;
    color: #323338; }
  .price-box--wider:nth-child(n+2) {
    margin-left: 7%; }
  .price-box--shorter:nth-child(n+2) {
    margin-left: 3%; }
  .price-box__title {
    font-family: 'Roboto-Light';
    font-size: 1.5rem;
    font-weight: normal;
    margin: 2rem 0; }
  .price-box__price {
    border-bottom: 3px solid;
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
    padding: 1rem 0;
    width: 100%; }
    .price-box__price--cyan {
      background-color: #1bbc9d;
      border-color: #158f78; }
    .price-box__price--graphite {
      background-color: #424242;
      border-color: #1c1c1c; }
    .price-box__price--turquoise {
      background-color: #74b0a4;
      border-color: #4e897e; }
    .price-box__price--olive {
      background-color: #b6c280;
      border-color: #879547; }
    .price-box__price--white {
      background-color: #e4e4e4;
      border-color: #b1b1b1;
      color: #74b0a4; }
  .price-box__features {
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 2rem 0 2.5rem; }
  .price-box__feature {
    padding: .5rem 0; }

@media (max-width: 61.94rem) {
  .our-price__row {
    margin-bottom: 2.5rem; }
  .price-box {
    flex-grow: 0; }
    .price-box--wider:nth-child(n) {
      flex-basis: calc(33.333% - 7%); }
    .price-box--shorter:nth-child(n) {
      flex-basis: 40%;
      margin: 0 0 6%; }
    .price-box--shorter:nth-child(even) {
      margin-left: 6%; }
    .price-box__title {
      margin: 1.5rem 0; }
    .price-box__features {
      margin: 1rem 0; } }

@media (max-width: 35.94rem) {
  .our-price {
    padding: 1.5rem 0; }
    .our-price__title {
      font-size: 2rem;
      margin-bottom: 1.5rem; }
    .our-price__row {
      margin: 0; }
  .price-box--wider:nth-child(n), .price-box--shorter:nth-child(n) {
    flex-basis: 80%;
    margin: 0 0 2rem; } }

.testimonial__title {
  align-items: center;
  display: flex;
  font-family: 'Roboto-Bold';
  font-size: 1.3rem;
  font-weight: normal;
  justify-content: center;
  margin: 0 0 2.5rem;
  text-align: center;
  text-transform: uppercase; }
  .testimonial__title::before, .testimonial__title::after {
    border-bottom: 2px solid #424242;
    content: "";
    display: inline-block;
    flex: 1; }
  .testimonial__title::before {
    margin-right: 5%; }
  .testimonial__title::after {
    margin-left: 5%; }

.testimonial__text {
  background-image: url("../images/quote-left.png"), url("../images/quote-right.png");
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  background-size: 5rem, 5rem;
  color: #757575;
  font-family: 'Roboto-Normal';
  font-size: .9rem;
  line-height: 1.4rem;
  margin: 0 auto 1.5rem;
  max-width: 28rem;
  padding: 0 8rem;
  text-align: center;
  word-spacing: 0.2rem; }

.testimonial__author {
  color: #b0ce3c;
  display: block;
  font-family: 'Roboto-Bold';
  font-size: 0.95rem;
  font-style: normal;
  text-align: center;
  text-transform: uppercase; }

@media (max-width: 47.94rem) {
  .testimonial__title {
    margin: 0 0 1.5rem; }
  .testimonial__text {
    background-image: none;
    padding: 0; } }

.our-team {
  background-image: url("../images/baner_3.jpg");
  background-position: 25% bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .our-team__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 30rem; }
  .our-team__title {
    flex-basis: 100%;
    font-size: 4.3rem;
    font-weight: normal;
    line-height: 1;
    margin: 0; }
  .our-team__subtitle {
    font-family: 'Roboto-Bold';
    font-size: 2.8rem;
    margin: 0; }

@media (max-width: 61.94rem) {
  .our-team__container {
    height: 25rem; }
  .our-team__title {
    font-size: 3.5rem; }
  .our-team__subtitle {
    font-size: 2rem; } }

@media (max-width: 35.94rem) {
  .our-team__title {
    font-size: 2rem; }
  .our-team__subtitle {
    font-size: 1.2rem; } }

.about-us {
  padding-bottom: 3rem;
  text-align: center; }
  .about-us__container {
    display: flex;
    flex-wrap: wrap; }
  .about-us__title {
    font-family: 'Roboto-Light';
    font-size: 2.5rem;
    font-weight: normal;
    margin: 3rem 0;
    width: 100%; }

.person {
  box-sizing: border-box;
  padding: 0.6rem;
  width: 25%; }
  .person:nth-of-type(1) {
    transition: opacity .6s, transform 0.6s; }
  .person:nth-of-type(2) {
    transition: opacity 0.8s, transform 0.8s; }
  .person:nth-of-type(3) {
    transition: opacity 1s, transform 1s; }
  .person:nth-of-type(4) {
    transition: opacity 1.2s, transform 1.2s; }
  .person.hidden {
    opacity: 0;
    transform: translate(0, 200px); }
  .person__photo {
    width: 100%; }
  .person__name {
    font-family: 'Roboto-Normal';
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.2;
    margin: 1rem 0 0; }
  .person__position {
    font-family: 'Roboto-Normal';
    margin: 0 0 .7rem; }
  .person__description {
    color: #777777;
    font-family: 'Roboto-Normal';
    font-size: .95rem; }

@media (max-width: 47.94rem) {
  .about-us {
    margin: 0; }
    .about-us__title {
      font-size: 2rem;
      margin: 1.5rem 0; }
  .person {
    width: 50%; } }

@media (max-width: 35.94rem) {
  .person {
    width: 100%; } }

.looked-over {
  background-image: url("../images/baner_4.jpg");
  background-position: 60% bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .looked-over__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 30rem; }
  .looked-over__title {
    flex-basis: 100%;
    font-family: 'Roboto-Bold';
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    text-transform: uppercase; }
  .looked-over__subtitle {
    font-family: 'Roboto-Light';
    font-size: 3.5rem;
    margin: 0; }

@media (max-width: 61.94rem) {
  .looked-over__container {
    height: 25rem; }
  .looked-over__title {
    font-size: 3.5rem; }
  .looked-over__subtitle {
    font-size: 2rem; } }

@media (max-width: 35.94rem) {
  .looked-over__title {
    font-size: 2rem; }
  .looked-over__subtitle {
    font-size: 1.2rem; } }

.contact {
  padding-bottom: 6rem; }
  .contact__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .contact__title {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 4rem 0;
    text-align: center;
    width: 100%; }
  .contact .button {
    font-family: 'Roboto-Normal'; }

.form {
  display: flex;
  flex: 3;
  flex-wrap: wrap; }
  .form__legend {
    border-bottom: 2px solid #424242;
    flex-basis: 100%;
    font-family: 'Roboto-Bold';
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    text-transform: uppercase; }
  .form__group {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap; }
  .form__control {
    font-family: 'Roboto-Normal';
    font-size: 0.9rem;
    padding: 0.6rem; }
  .form__name {
    flex-grow: 1;
    margin-right: .5rem; }
  .form__email {
    flex-grow: 1;
    margin-left: .5rem; }
  .form__textarea {
    flex-basis: 100%;
    margin: 1.2rem 0 2rem; }

.more-info {
  color: #777777;
  flex: 1;
  margin-left: 3rem; }
  .more-info__title {
    border-bottom: 2px solid #424242;
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    text-transform: uppercase; }
  .more-info__element {
    color: #777777;
    display: block;
    font-family: 'Roboto-Normal';
    font-size: 1.2rem;
    margin: 0.5rem 0; }
  .more-info__skype--thin {
    font-family: 'Roboto-Light'; }
  .more-info__contact-person {
    font-family: 'Roboto-Light';
    margin: 2rem 0 0; }
  .more-info__address {
    margin: 0 0 2rem; }

@media (max-width: 47.94rem) {
  .contact {
    padding-bottom: 2rem; }
    .contact__title {
      font-size: 2rem;
      margin: 1.5rem 0; }
  .form {
    justify-content: center; }
  .more-info {
    flex-basis: 100%;
    margin: 0;
    text-align: center; }
    .more-info__title {
      margin-top: 1.5rem;
      text-align: left; } }

@media (max-width: 35.94rem) {
  .contact .button {
    width: 100%; }
  .form__name, .form__email {
    margin: 0 0 0.3rem;
    width: 100%; }
  .form__textarea {
    margin: .5rem 0 .8rem; }
  .more-info__title {
    margin-bottom: 1rem; }
  .more-info__element {
    font-size: 1rem;
    margin: 0; }
  .more-info__address {
    margin-bottom: 1rem; } }

.socials {
  background-image: url("../images/baner_5.jpg");
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .socials__container {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 30rem; }
  .socials__title {
    flex-basis: 100%;
    font-family: 'Roboto-Bold';
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-left: 17px;
    text-transform: uppercase; }
  .socials__subtitle {
    flex-basis: 100%;
    font-family: 'Roboto-Light';
    font-size: 3.5rem;
    margin: 0;
    padding-left: 17px; }
  .socials__icons-wrapper {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    min-height: 80px; }
  .socials__icon-link {
    align-items: center;
    display: flex;
    flex-basis: 75px;
    justify-content: center;
    min-height: 52px;
    transition: transform 1s, opacity 1s; }
    .socials__icon-link.hidden {
      opacity: 0;
      transform: rotate(-720deg); }
  .socials__svg {
    border-radius: 50%; }
    .socials__svg:hover {
      background-color: #292a2e;
      padding: 6px; }
  .socials__path {
    fill: #292a2e;
    transition: fill .2s; }
    .socials__path--filled {
      fill: #b0ce3c; }

@media (max-width: 61.94rem) {
  .socials__container {
    height: 25rem; }
  .socials__title {
    font-size: 3.5rem; }
  .socials__subtitle {
    font-size: 2rem; } }

@media (max-width: 35.94rem) {
  .socials {
    text-align: center; }
    .socials__title {
      font-size: 2rem;
      padding-left: calc((25% - 40px) / 2); }
    .socials__subtitle {
      font-size: 1.5rem;
      padding-left: calc((25% - 40px) / 2); }
    .socials__icons-wrapper {
      flex-wrap: wrap;
      margin-top: .5rem; }
    .socials__icon-link {
      flex-basis: 25%; } }

.recent-activity {
  padding: 4.5rem 0 3.5rem; }
  .recent-activity__container {
    display: flex; }

.recent-box {
  color: #777777;
  font-family: 'Roboto-Normal';
  font-size: .85rem;
  width: 33.3333%; }
  .recent-box:nth-of-type(2) {
    margin: 0 7%; }
  .recent-box__title {
    border-bottom: 1px solid #424242;
    color: #ffffff;
    font-family: 'Roboto-Bold';
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
    padding-bottom: .8rem;
    text-transform: uppercase;
    width: 100%; }

.photo-box {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap; }
  .photo-box__title {
    border-color: #ffffff;
    margin: 0 .2rem .5rem; }
  .photo-box__link {
    box-sizing: border-box;
    padding: .2rem;
    width: 25%; }
  .photo-box__img {
    vertical-align: top;
    width: 100%; }

.post, .tweet {
  margin-bottom: 2rem; }

.tweet__icon {
  color: #b0ce3c;
  font-size: 1.5rem;
  position: relative;
  top: 0.1rem; }

.tweet__author {
  color: #777777;
  display: inline-block;
  position: relative; }

.tweet__text--linked {
  color: #1bbc9d;
  font-family: 'Roboto-Bold';
  text-decoration: underline; }

@media (max-width: 61.94rem) {
  .recent-activity {
    padding: 2.5rem 0 2rem; }
  .tweet,
  .post,
  .tweet {
    margin-bottom: 0; } }

@media (max-width: 47.94rem) {
  .recent-activity__container {
    flex-wrap: wrap; }
  .recent-box {
    width: 100%; }
    .recent-box:nth-of-type(2) {
      margin: 0; } }

.footer {
  background-color: #222327;
  padding: 3.5rem; }
  .footer__container {
    align-items: center;
    display: flex;
    justify-content: space-between; }
  .footer__contact-wrapper {
    display: flex; }
  .footer__contact-element {
    color: #777777;
    font-family: 'Roboto-Normal';
    font-size: 1.2rem;
    margin-left: 1.5rem; }
  .footer__skype--thin {
    font-family: 'Roboto-Light'; }

@media (max-width: 61.94rem) {
  .footer {
    padding: 2rem; }
    .footer__contact-element {
      text-align: center; } }

@media (max-width: 47.94rem) {
  .footer {
    padding: 1.5rem 0; }
    .footer__container {
      flex-direction: column; }
    .footer__contact-wrapper {
      align-items: center;
      flex-direction: column;
      margin-top: 1rem; }
    .footer__contact-element {
      margin: .3rem 0; } }
