
$site-background: #292a2e;
$background-secondary: #323338;
$font-color: #ffffff;

$header-border-color: #ffffff;

$nav-item-focus-color: #86a545;
$nav-vertical-item-focus-color: #1d1e20;
$nav-button-toggle-color: $font-color;
$nav-button-search-color: $font-color;

$input-background-color: #222327;

// ****************** BREAKPOINTS *************************/

$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-extra-large: 1200px;