
// ********************     PALLETE     ********************
$primary-dark: #292a2e;
$secondary-dark: #323338; //portfolio, our price
$third-dark: #222327; // input, footer
$primary-white: #ffffff;
$secondary-white: #e4e4e4;
$celadon: #b0ce3c;
$cyan: #1bbc9d;
$pale-turquoise: #74b0a4;
$olive-drab: #b6c280;
$graphite: #424242; //skills, client about us, our price button



$site-background: $primary-dark;
$font-color: $primary-white;
$secondary-font-color: #777777;

$header-border-color: $secondary-white;

$nav-item-focus-color: $celadon;
$nav-vertical-item-focus-color: $third-dark;
$nav-button-toggle-color: $primary-white;
$nav-button-search-color: $primary-white;

$button-default-color: $secondary-dark;
$button-green-color: $celadon;
$button-cyan-color: $cyan;
$button-turquoise-color: $pale-turquoise;
$button-white-color: $secondary-white;
$button-olive-color: $olive-drab;
$button-graphite-color: $graphite;

$input-background-color: $third-dark;

// ****************** BREAKPOINTS *************************/


$screen-small: 35.94rem;                    // **  575px  **
$screen-medium: 47.94rem;                   // **  767px  **
$screen-large: 61.94rem;                    // **  991px  **
$screen-extra-large: 74.94rem;              // ** 1199px  **
